@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Outfit";
}

main{
    min-height: 100vh;
    background-image: url("./assets/bg-guess-the-word.png");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    background-color: #161624;
    padding: 25px; 
    border-radius: 10px;
    min-width: 450px;
    height: 400px;
}
.title-container{
    text-align: center;
}
.word-container{
    width: 100%;
    background-color: #4A5567;
    border-radius: 5px;
    box-shadow: 0px 4px 0px #030616;
    text-align: center;
    font-size: 2rem;
    color: #97A3B6;
    letter-spacing: 15px;
    text-transform: lowercase;
    padding: 11px 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.tries-mistakes-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}
.tries-mistakes-container p {
    color: #4A5567;
    font-size: 12px;
}
.tries-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.tries-container #oportunities{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.tries-container #oportunities div{
    width: 7px;
    height: 7px;
    border-radius: 100%;
}
.trie{
    background-color: #7429C6;
}
.no-trie{
    background-color: #4A5567;
}
.mistakes-container span{
    font-size: 16px;
    margin-left: 5px;
    letter-spacing: 2px;
    color: #97A3B6;
}
.guess-container{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}
.guess-container input{
    outline: none;
    width: 40px;
    text-align: center;
    height: 40px; 
    border-radius: 4px;
    border: none;
    background-color: transparent;
    border: 2px solid #4A5567;
    color: #F2F5F9;
    font-size: 20px;
}
.footer-container{
    display: flex;
    justify-content: space-evenly;
}
.footer-container button{
    border:none;
    margin-top: 50px;
    padding: 8px 29px;
    cursor: pointer;
    background-color: #C951E7;
    box-shadow: 0px 5px 2px #672171;
    border-radius: 7px;
    color:#F2F5F9;
    font-size: 14px;
}